%h1 Profile

id: #{@user['user']['id']}
%br
name: #{@user['user']['name']}
%br
email: #{@user['user']['email']}
%br
created_at: #{@user['user']['created_at']}
%br
updated_at: #{@user['user']['updated_at']}
